[Unit]
Description=GitBlog Server

[Service]
ExecStart=/Users/liangliang/Git/Go/git-blog/gitblog
WorkingDirectory=/Users/liangliang/Git/Go/git-blog
Restart=always
User=root

[Install]
WantedBy=multi-user.target
