<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
            integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI"
            crossorigin="anonymous"
        />

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
            integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
            crossorigin="anonymous"
        ></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
            integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);"
        ></script>
    </head>
    <body>
        {{template "header.tmpl.html" .}}
        <div class="markdown-content">
            <h1>Post List</h1>
            <ul>
                {{range .Posts}}
                <div class="post">
                    <h2>
                        <a href="/posts/{{ .Name }}" target="_blank"
                            >{{.Title}}</a
                        >
                    </h2>
                    <div class="post-content">
                        <p>{{ .Body }}</p>
                    </div>
                    <div class="post-foot">
                        <div class="post-modified-time">
                            Last modified: {{ .Mtime }}
                        </div>
                        <div class="post-more-link">
                            <a href="/posts/{{ .Name }}" target="_blank"
                                >...more</a
                            >
                        </div>
                    </div>
                </div>
                {{end}}
            </ul>
        </div>
        {{template "footer.tmpl.html" .}}
    </body>
</html>
